In [144]:
import pandas as pd
import numpy as np

In [145]:
df = pd.read_csv('base_agencias_ficticia.csv', delimiter=',')
df.head()

,agencia,ti,to,indice_indisp,vol_atms,vol_transacao,grupo_controle,onda_fechamento,anomes,anomes_fechamento,periodo_fechamento
0,0,7280,120986,0.060172,19,7932,SIM,NAO SE APLICA,202504,NAO SE APLICA,POS
1,0,1979,79028,0.025042,18,19386,SIM,NAO SE APLICA,202504,NAO SE APLICA,POS
2,0,7280,120986,0.060172,19,7932,SIM,NAO SE APLICA,202505,NAO SE APLICA,POS
3,0,1979,79028,0.025042,18,19386,SIM,NAO SE APLICA,202505,NAO SE APLICA,POS
4,0,7280,120986,0.060172,19,7932,SIM,NAO SE APLICA,202506,NAO SE APLICA,POS

In [146]:
df.dtypes

agencia                 int64
ti                      int64
to                      int64
indice_indisp         float64
vol_atms                int64
vol_transacao           int64
grupo_controle         object
onda_fechamento        object
anomes                  int64
anomes_fechamento      object
periodo_fechamento     object
dtype: object

In [147]:
df = df.head(1000)

In [148]:
nao_grupo_controle = df[df['grupo_controle'] == 'NAO']
grupo_controle = df[df['grupo_controle'] == 'SIM']

nao_grupo_controle_pre = nao_grupo_controle[nao_grupo_controle['periodo_fechamento'] == 'PRE']
grupo_controle_pre = grupo_controle[grupo_controle['periodo_fechamento'] == 'PRE']

In [149]:
nao_grupo_controle_pre.head()

,agencia,ti,to,indice_indisp,vol_atms,vol_transacao,grupo_controle,onda_fechamento,anomes,anomes_fechamento,periodo_fechamento
105,41,8810,101875,0.086479,18,10823,NAO,3,202504,202510,PRE
106,41,8810,101875,0.086479,18,10823,NAO,3,202505,202510,PRE
107,41,8810,101875,0.086479,18,10823,NAO,3,202506,202510,PRE
108,41,8810,101875,0.086479,18,10823,NAO,3,202507,202510,PRE
109,41,8810,101875,0.086479,18,10823,NAO,3,202508,202510,PRE

In [150]:
grupo_controle_pre.head()

,agencia,ti,to,indice_indisp,vol_atms,vol_transacao,grupo_controle,onda_fechamento,anomes,anomes_fechamento,periodo_fechamento
14,1,4835,103917,0.046528,13,10980,SIM,NAO SE APLICA,202504,NAO SE APLICA,PRE
15,1,4835,103917,0.046528,13,10980,SIM,NAO SE APLICA,202505,NAO SE APLICA,PRE
16,1,4835,103917,0.046528,13,10980,SIM,NAO SE APLICA,202506,NAO SE APLICA,PRE
17,1,4835,103917,0.046528,13,10980,SIM,NAO SE APLICA,202507,NAO SE APLICA,PRE
18,1,4835,103917,0.046528,13,10980,SIM,NAO SE APLICA,202508,NAO SE APLICA,PRE

In [151]:
grupo_controle_pre_logica_anomes = grupo_controle_pre
nao_grupo_controle_pre_logica_anomes = nao_grupo_controle_pre

grupo_controle_pre_logica_anomes = (
    grupo_controle_pre.groupby('agencia')['anomes'].apply(lambda x: sorted(set(x))).reset_index()
)

nao_grupo_controle_pre_logica_anomes = (
    nao_grupo_controle_pre.groupby('agencia')['anomes'].apply(lambda x: sorted(set(x))).reset_index()
)

grupo_controle_pre_logica_anomes = grupo_controle_pre_logica_anomes.drop_duplicates(subset=['agencia'])
nao_grupo_controle_pre_logica_anomes = nao_grupo_controle_pre_logica_anomes.drop_duplicates(subset=['agencia'])
grupo_controle_pre_logica_anomes.to_csv('test/logica_anomes_validacao.csv')
grupo_controle_pre_logica_anomes

    agencia                                             anomes
0         1  [202504, 202505, 202506, 202507, 202508, 20250...
1         2  [202504, 202505, 202506, 202507, 202508, 20250...
2        10  [202504, 202505, 202506, 202507, 202508, 20250...
3        23  [202504, 202505, 202506, 202507, 202508, 20250...
4        28  [202504, 202505, 202506, 202507, 202508, 20250...
5        42  [202504, 202505, 202506, 202507, 202508, 20250...
6        50  [202504, 202505, 202506, 202507, 202508, 20250...
7        56  [202504, 202505, 202506, 202507, 202508, 20250...
8        82  [202504, 202505, 202506, 202507, 202508, 20250...
9        86  [202504, 202505, 202506, 202507, 202508, 20250...
10       93  [202504, 202505, 202506, 202507, 202508, 20250...
11       97  [202504, 202505, 202506, 202507, 202508, 20250...
12      103  [202504, 202505, 202506, 202507, 202508, 20250...
13      117  [202504, 202505, 202506, 202507, 202508, 20250...
14      123  [202504, 202505, 202506, 202507, 202508, 20250...
15      125  [202504, 202505, 202506, 202507, 202508, 20250...
16      127  [202504, 202505, 202506, 202507, 202508, 20250...
17      131  [202504, 202505, 202506, 202507, 202508, 20250...
18      134  [202504, 202505, 202506, 202507, 202508, 20250...
19      137  [202504, 202505, 202506, 202507, 202508, 20250...
20      140  [202504, 202505, 202506, 202507, 202508, 20250...
21      145  [202504, 202505, 202506, 202507, 202508, 20250...
22      180  [202504, 202505, 202506, 202507, 202508, 20250...
23      186  [202504, 202505, 202506, 202507, 202508, 20250...
24      201  [202504, 202505, 202506, 202507, 202508, 20250...
25      209  [202504, 202505, 202506, 202507, 202508, 20250...
26      215  [202504, 202505, 202506, 202507, 202508, 20250...
27      221  [202504, 202505, 202506, 202507, 202508, 20250...
28      240  [202504, 202505, 202506, 202507, 202508, 20250...
29      244  [202504, 202505, 202506, 202507, 202508, 20250...
30      254  [202504, 202505, 202506, 202507, 202508, 20250...
31      256  [202504, 202505, 202506, 202507, 202508, 20250...
32      273  [202504, 202505, 202506, 202507, 202508, 20250...
33      281                           [202504, 202505, 202506]

In [152]:
resultados_pre_logica = []

for index_nao, row_nao in nao_grupo_controle_pre_logica_anomes.iterrows():
    agencia_nao = row_nao['agencia']
    anomes_nao = row_nao['anomes']

    grupo_controle_filtrado = grupo_controle_pre_logica_anomes[
        grupo_controle_pre_logica_anomes['anomes'].apply(lambda x: x[0] == anomes_nao[0])
    ]

    if grupo_controle_filtrado.empty:
        continue

    grupo_controle_filtrado['tamanho_anomes'] = grupo_controle_filtrado['anomes'].apply(len)
    
    tamanho_minimo = len(anomes_nao)
    grupo_controle_filtrado = grupo_controle_filtrado[
        grupo_controle_filtrado['tamanho_anomes'] >= tamanho_minimo
    ]

    if grupo_controle_filtrado.empty:
        continue

    grupo_controle_filtrado = grupo_controle_filtrado.sort_values(by='tamanho_anomes', ascending=False)
    top_5_agencias = grupo_controle_filtrado.head(5)
    
    for index_sim, row_sim in grupo_controle_filtrado.iterrows():
        resultados_pre_logica.append({
            'agencia_ref': agencia_nao,
            'anomes_agencia_ref': anomes_nao,
            'agencia_grp_controle': row_sim['agencia'],
            'anomes_grp_controle': row_sim['anomes']
            })
    
lista_ag_proximas_anomes = pd.DataFrame(resultados_pre_logica)
lista_ag_proximas_anomes.to_csv('test/lista_agencias_proximas_pre_logica.csv', index=False)
lista_ag_proximas_anomes.head()

,agencia_ref,anomes_agencia_ref,agencia_grp_controle,anomes_grp_controle
0,41,"[202504, 202505, 202506, 202507, 202508, 20250...",1,"[202504, 202505, 202506, 202507, 202508, 20250..."
1,41,"[202504, 202505, 202506, 202507, 202508, 20250...",2,"[202504, 202505, 202506, 202507, 202508, 20250..."
2,41,"[202504, 202505, 202506, 202507, 202508, 20250...",10,"[202504, 202505, 202506, 202507, 202508, 20250..."
3,41,"[202504, 202505, 202506, 202507, 202508, 20250...",23,"[202504, 202505, 202506, 202507, 202508, 20250..."
4,41,"[202504, 202505, 202506, 202507, 202508, 20250...",28,"[202504, 202505, 202506, 202507, 202508, 20250..."

In [153]:
grupo_contorle_agg = grupo_controle_pre.groupby(['agencia', 'anomes']).agg({
    'ti': 'sum',
    'to': 'sum',
    'vol_atms': 'sum',
    'vol_transacao': 'sum',
}).reset_index()

nao_grupo_contorle_agg = nao_grupo_controle_pre.groupby(['agencia', 'anomes']).agg({
    'ti': 'sum',
    'to': 'sum',
    'vol_atms': 'sum',
    'vol_transacao': 'sum',
}).reset_index()


grupo_contorle_agg['indice_indisp'] = grupo_contorle_agg['ti'] / grupo_contorle_agg['to']
nao_grupo_contorle_agg['indice_indisp'] = nao_grupo_contorle_agg['ti'] / grupo_contorle_agg['to']
grupo_contorle_agg.head()

   agencia  anomes    ti      to  vol_atms  vol_transacao  indice_indisp
0        1  202504  4835  103917        13          10980       0.046528
1        1  202505  4835  103917        13          10980       0.046528
2        1  202506  4835  103917        13          10980       0.046528
3        1  202507  4835  103917        13          10980       0.046528
4        1  202508  4835  103917        13          10980       0.046528

In [154]:
grupo_contorle_agg['agencia'] = grupo_contorle_agg['agencia'].astype(int)
grupo_contorle_agg['anomes'] = grupo_contorle_agg['anomes'].astype(int)
nao_grupo_contorle_agg['agencia'] = nao_grupo_contorle_agg['agencia'].astype(int)
nao_grupo_contorle_agg['anomes'] = nao_grupo_contorle_agg['anomes'].astype(int)

In [155]:
resultados = []

def garantir_lista(val):
    if isinstance(val, (int, float)):
        return [int(val)]
    elif isinstance(val, str):
        val = val.replace('[', '').replace(']', '').replace(' ', '')
        return [int(x) for x in val.split(',') if x.strip().isdigit()]
    elif isinstance(val, list):
        return [int(x) for x in val]
    else:
        return []

# Cálculo indice de indisponibilidade
for _, row_lista in lista_ag_proximas_anomes.iterrows():
    agencia_ref = int(row_lista['agencia_ref'])
    anomes_agencia_ref = garantir_lista(row_lista['anomes_agencia_ref'])
    agencia_grp_controle = garantir_lista(row_lista['agencia_grp_controle'])
    anomes_grp_controle = garantir_lista(row_lista['anomes_grp_controle'])

    df_ref = nao_grupo_contorle_agg[
        (nao_grupo_contorle_agg['agencia'] == agencia_ref) &
        (nao_grupo_contorle_agg['anomes'].isin(anomes_agencia_ref))
    ]

    df_grp = grupo_contorle_agg[
        (grupo_contorle_agg['agencia'].isin(agencia_grp_controle)) &
        (grupo_contorle_agg['anomes'].isin(anomes_grp_controle))
    ]

    distancias_globais = []
    for ag_cand in df_grp['agencia'].unique():
        df_cand = df_grp[df_grp['agencia'] == ag_cand]
        df_merged = pd.merge(df_ref, df_cand, on='anomes', suffixes=('_ref', '_grp'))
        if df_merged.empty:
            continue
        distancia_total = np.linalg.norm(df_merged['indice_indisp_ref'] - df_merged['indice_indisp_grp'])
        distancias_globais.append({'agencia_grp_controle': ag_cand, 'distancia_total': distancia_total})

    if not distancias_globais:
        continue

    top5 = sorted(distancias_globais, key=lambda x: x['distancia_total'])[:5]

    for match in top5:
        ag_cand = match['agencia_grp_controle']
        df_cand = df_grp[df_grp['agencia'] == ag_cand]
        df_merged = pd.merge(df_ref, df_cand, on='anomes', suffixes=('_ref', '_grp'))

        for _, row in df_merged.iterrows():
            resultados.append({
                'agencia_ref': agencia_ref,
                'anomes_ref': row['anomes'],
                'agencia_grp_controle': ag_cand,
                'indice_indisp_ref': row['indice_indisp_ref'],
                'indice_indisp_grp_controle': row['indice_indisp_grp'],
                'vol_atms_ref': row['vol_atms_ref'],
                'vol_atms_grp_controle': row['vol_atms_grp'],
                'vol_transacao_ref': row['vol_transacao_ref'],
                'vol_transacao_grp_controle': row['vol_transacao_grp'],
                'distancia_euclidiana_indisp': match['distancia_total']
            })

lista_ag_proximas_indisp = pd.DataFrame(resultados)

# Cálculo volume de ATMs
resultados_vol_atms = []

for agencia_ref in lista_ag_proximas_indisp['agencia_ref'].unique():
    df_ref = lista_ag_proximas_indisp[lista_ag_proximas_indisp['agencia_ref'] == agencia_ref]

    distancias_vol = []
    for ag_cand in df_ref['agencia_grp_controle'].unique():
        df_cand = df_ref[df_ref['agencia_grp_controle'] == ag_cand]
        if df_cand.empty:
            continue

        distancia = np.linalg.norm(df_cand['vol_atms_ref'] - df_cand['vol_atms_grp_controle'])
        distancias_vol.append({'agencia_grp_controle': ag_cand, 'distancia_total_vol': distancia})

    top3 = sorted(distancias_vol, key=lambda x: x['distancia_total_vol'])[:3]

    for match in top3:
        ag_cand = match['agencia_grp_controle']
        df_cand = df_ref[df_ref['agencia_grp_controle'] == ag_cand]

        for _, row in df_cand.iterrows():
            resultados_vol_atms.append({
                'agencia_ref': agencia_ref,
                'anomes_ref': row['anomes_ref'],
                'agencia_grp_controle': ag_cand,
                'indice_indisp_ref': row['indice_indisp_ref'],
                'indice_indisp_grp_controle': row['indice_indisp_grp_controle'],
                'vol_atms_ref': row['vol_atms_ref'],
                'vol_atms_grp_controle': row['vol_atms_grp_controle'],
                'vol_transacao_ref': row['vol_transacao_ref'],
                'vol_transacao_grp_controle': row['vol_transacao_grp_controle'],
                'distancia_euclidiana_indisp': row['distancia_euclidiana_indisp'],
                'distancia_euclidiana_vol_atms': match['distancia_total_vol']
            })

lista_ag_proximas_vol_atms = pd.DataFrame(resultados_vol_atms)

# Cálculo volume de Transações
resultados_vol_transacoes = []

for agencia_ref in lista_ag_proximas_vol_atms['agencia_ref'].unique():
    df_ref = lista_ag_proximas_vol_atms[lista_ag_proximas_vol_atms['agencia_ref'] == agencia_ref]

    distancias_transacoes = []
    for ag_cand in df_ref['agencia_grp_controle'].unique():
        df_cand = df_ref[df_ref['agencia_grp_controle'] == ag_cand]
        if df_cand.empty:
            continue

        distancia = np.linalg.norm(df_cand['vol_transacao_ref'] - df_cand['vol_transacao_grp_controle'])
        distancias_transacoes.append({'agencia_grp_controle': ag_cand, 'distancia_total_trans': distancia})

    top1 = sorted(distancias_transacoes, key=lambda x: x['distancia_total_trans'])[:1]

    for match in top1:
        ag_cand = match['agencia_grp_controle']
        df_cand = df_ref[df_ref['agencia_grp_controle'] == ag_cand]

        for _, row in df_cand.iterrows():
            resultados_vol_transacoes.append({
                'agencia_ref': agencia_ref,
                'anomes_ref': row['anomes_ref'],
                'agencia_grp_controle': ag_cand,
                'indice_indisp_ref': row['indice_indisp_ref'],
                'indice_indisp_grp_controle': row['indice_indisp_grp_controle'],
                'vol_atms_ref': row['vol_atms_ref'],
                'vol_atms_grp_controle': row['vol_atms_grp_controle'],
                'vol_transacao_ref': row['vol_transacao_ref'],
                'vol_transacao_grp_controle': row['vol_transacao_grp_controle'],
                'distancia_euclidiana_indisp': row['distancia_euclidiana_indisp'],
                'distancia_euclidiana_vol_atms': row['distancia_euclidiana_vol_atms'],
                'distancia_euclidiana_vol_trans': match['distancia_total_trans']
            })

resultados_vol_transacoes_validacao = pd.DataFrame(resultados_vol_transacoes)
lista_ag_proximas_vol_trans = pd.DataFrame(resultados_vol_transacoes)
agencias_grupo_controle = lista_ag_proximas_vol_trans[['agencia_ref','agencia_grp_controle']]
agencias_grupo_controle = agencias_grupo_controle.drop_duplicates(subset=['agencia_ref'])
agencias_grupo_controle.to_csv('test/agencias_grupo_controle_final.csv', index=False)
agencias_grupo_controle.head()

    agencia_ref  agencia_grp_controle
0            41                   215
7            43                    23
14           47                   134
21           63                   103
28           66                   215

In [ ]:
validacao_logica_dist_euclidian_indisp = lista_ag_proximas_indisp[lista_ag_proximas_indisp['agencia_ref'] == 41]
print(f'quantidade agencia ref: {validacao_logica_dist_euclidian_indisp['agencia_ref'].nunique()}')
print(f'quantidade agencia grupo controle: {validacao_logica_dist_euclidian_indisp['agencia_grp_controle'].nunique()}')
validacao_logica_dist_euclidian_indisp

{1}

,agencia_ref,anomes_ref,agencia_grp_controle,indice_indisp_ref,indice_indisp_grp_controle,vol_atms_ref,vol_atms_grp_controle,vol_transacao_ref,vol_transacao_grp_controle,distancia_euclidiana_indisp
0,41,202504.0,1,0.084779,0.046528,18.0,13.0,10823.0,10980.0,0.101204
1,41,202505.0,1,0.084779,0.046528,18.0,13.0,10823.0,10980.0,0.101204
2,41,202506.0,1,0.084779,0.046528,18.0,13.0,10823.0,10980.0,0.101204
3,41,202507.0,1,0.084779,0.046528,18.0,13.0,10823.0,10980.0,0.101204
4,41,202508.0,1,0.084779,0.046528,18.0,13.0,10823.0,10980.0,0.101204
...,...,...,...,...,...,...,...,...,...,...
226,41,202506.0,273,0.084779,0.051826,18.0,17.0,10823.0,6594.0,0.087186
227,41,202507.0,273,0.084779,0.051826,18.0,17.0,10823.0,6594.0,0.087186
228,41,202508.0,273,0.084779,0.051826,18.0,17.0,10823.0,6594.0,0.087186
229,41,202509.0,273,0.084779,0.051826,18.0,17.0,10823.0,6594.0,0.087186
230,41,202510.0,273,0.084779,0.051826,18.0,17.0,10823.0,6594.0,0.087186

In [ ]:
validacao_logica_dist_euclidian_atm = lista_ag_proximas_vol_atms[lista_ag_proximas_vol_atms['agencia_ref'] == 41]
print(f'quantidade agencia ref: {validacao_logica_dist_euclidian_atm['agencia_ref'].nunique()}')
print(f'quantidade agencia grupo controle: {validacao_logica_dist_euclidian_atm['agencia_grp_controle'].nunique()}')
validacao_logica_dist_euclidian_atm

{1}

,agencia_ref,anomes_ref,agencia_grp_controle,indice_indisp_ref,indice_indisp_grp_controle,vol_atms_ref,vol_atms_grp_controle,vol_transacao_ref,vol_transacao_grp_controle,distancia_euclidiana_indisp,distancia_euclidiana_vol_atms
0,41,202504.0,50,0.084779,0.009326,18.0,18.0,10823.0,3735.0,0.199631,0.0
1,41,202505.0,50,0.084779,0.009326,18.0,18.0,10823.0,3735.0,0.199631,0.0
2,41,202506.0,50,0.084779,0.009326,18.0,18.0,10823.0,3735.0,0.199631,0.0
3,41,202507.0,50,0.084779,0.009326,18.0,18.0,10823.0,3735.0,0.199631,0.0
4,41,202508.0,50,0.084779,0.009326,18.0,18.0,10823.0,3735.0,0.199631,0.0
5,41,202509.0,50,0.084779,0.009326,18.0,18.0,10823.0,3735.0,0.199631,0.0
6,41,202510.0,50,0.084779,0.009326,18.0,18.0,10823.0,3735.0,0.199631,0.0
7,41,202504.0,215,0.084779,0.066880,18.0,18.0,10823.0,10072.0,0.047356,0.0
8,41,202505.0,215,0.084779,0.066880,18.0,18.0,10823.0,10072.0,0.047356,0.0
9,41,202506.0,215,0.084779,0.066880,18.0,18.0,10823.0,10072.0,0.047356,0.0
10,41,202507.0,215,0.084779,0.066880,18.0,18.0,10823.0,10072.0,0.047356,0.0
11,41,202508.0,215,0.084779,0.066880,18.0,18.0,10823.0,10072.0,0.047356,0.0
12,41,202509.0,215,0.084779,0.066880,18.0,18.0,10823.0,10072.0,0.047356,0.0
13,41,202510.0,215,0.084779,0.066880,18.0,18.0,10823.0,10072.0,0.047356,0.0
14,41,202504.0,254,0.084779,0.102050,18.0,18.0,10823.0,9182.0,0.045694,0.0
15,41,202505.0,254,0.084779,0.102050,18.0,18.0,10823.0,9182.0,0.045694,0.0
16,41,202506.0,254,0.084779,0.102050,18.0,18.0,10823.0,9182.0,0.045694,0.0
17,41,202507.0,254,0.084779,0.102050,18.0,18.0,10823.0,9182.0,0.045694,0.0
18,41,202508.0,254,0.084779,0.102050,18.0,18.0,10823.0,9182.0,0.045694,0.0
19,41,202509.0,254,0.084779,0.102050,18.0,18.0,10823.0,9182.0,0.045694,0.0
20,41,202510.0,254,0.084779,0.102050,18.0,18.0,10823.0,9182.0,0.045694,0.0

In [ ]:
validacao_logica_dist_euclidian_transacao = resultados_vol_transacoes_validacao[resultados_vol_transacoes_validacao['agencia_ref'] == 41]
print(f'quantidade agencia ref: {validacao_logica_dist_euclidian_transacao['agencia_ref'].nunique()}')
print(f'quantidade agencia grupo controle: {validacao_logica_dist_euclidian_transacao['agencia_grp_controle'].nunique()}')
resultados_vol_transacoes_validacao

Agencia ref: 1

,agencia_ref,anomes_ref,agencia_grp_controle,indice_indisp_ref,indice_indisp_grp_controle,vol_atms_ref,vol_atms_grp_controle,vol_transacao_ref,vol_transacao_grp_controle,distancia_euclidiana_indisp,distancia_euclidiana_vol_atms,distancia_euclidiana_vol_trans
0,41,202504.0,215,0.084779,0.066880,18.0,18.0,10823.0,10072.0,0.047356,0.0,1986.959235
1,41,202505.0,215,0.084779,0.066880,18.0,18.0,10823.0,10072.0,0.047356,0.0,1986.959235
2,41,202506.0,215,0.084779,0.066880,18.0,18.0,10823.0,10072.0,0.047356,0.0,1986.959235
3,41,202507.0,215,0.084779,0.066880,18.0,18.0,10823.0,10072.0,0.047356,0.0,1986.959235
4,41,202508.0,215,0.084779,0.066880,18.0,18.0,10823.0,10072.0,0.047356,0.0,1986.959235
...,...,...,...,...,...,...,...,...,...,...,...,...
226,280,202506.0,145,0.196775,0.162059,11.0,11.0,3545.0,6787.0,0.091850,0.0,8577.525750
227,280,202507.0,145,0.196775,0.162059,11.0,11.0,3545.0,6787.0,0.091850,0.0,8577.525750
228,280,202508.0,145,0.196775,0.162059,11.0,11.0,3545.0,6787.0,0.091850,0.0,8577.525750
229,280,202509.0,145,0.196775,0.162059,11.0,11.0,3545.0,6787.0,0.091850,0.0,8577.525750
230,280,202510.0,145,0.196775,0.162059,11.0,11.0,3545.0,6787.0,0.091850,0.0,8577.525750